.countdown-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  .number-of {
    color: $countdown-color;
    font-family: 'Gotham Light', sans-serif;
    font-size: 48px;
    text-align: center;
    width: 40%;

    .days-label {
      font-size: 8px;
    }
  }
}

@include media-breakpoint-up(lg) {
  .countdown-container {
    .number-of {
      font-size: 80px !important;
    }
  }
}

// FOR TABLETS & UP
@include media-breakpoint-up(md) {
  .countdown-container {
    .number-of {
      font-size: 4vw;

      .days-label {
        font-size: 18px;
        position: relative;
        top: -1em;
      }
    }
  }
}
