.container {
  .hero-row {
    // background-color: $hero-section-right-color;
    background: $hero-section-bg;

    .grid {
      display: grid;
      grid-column-gap: 0;
      grid-row-gap: 0;
      grid-template-columns: 1.4fr 1fr;
      grid-template-rows: 1fr;
      height: 100%;
    }

    .image-2020,
    .image-hero-model {
      background-repeat: no-repeat;
    }

    .image-2020 {
      background-image: url('../images/2020.png');
      background-position: center;
      background-size: auto;
      grid-area: 1 / 1 / 2 / 2;
      grid-column: 1;
      mix-blend-mode: screen;
      z-index: 2;
    }

    .image-hero-model {
      background-image: url('../images/2020-model.png');
      background-position: 41vw bottom;
      grid-area: 1 / 2 / 2 / 3;
      grid-column: 1 / span 2;
    }

    @include media-breakpoint-up(md) {
      .image-2020 {
        background-size: auto;
        height: 50%;
        margin-bottom: 50%;
        margin-top: 50%;
      }
    }

    @include media-breakpoint-up(sm) {
      .image-2020 {
        background-position: 3em center;
      }

      .image-hero-model {
        background-position: right bottom;
      }
    }

    @include media-breakpoint-down(sm) {
      .image-2020 {
        background-position: left center;
      }

      .image-hero-model {
        background-position: 9.5em bottom;
      }
    }
  }
}
