.main-container {
  .hero-row {
    // background-color: $hero-section-right-color;
    background: $hero-section-bg;

    .grid {
      display: grid;
      grid-column-gap: 0;
      grid-row-gap: 0;
      grid-template-columns: 1.4fr 1fr;
      grid-template-rows: 1fr;
      height: 100%;
    }

    .image-2020,
    .image-hero-model {
      background-repeat: no-repeat;
    }

    .image-2020 {
      background-image: url('../images/2020.png');
      background-position: center;
      background-size: auto;
      grid-area: 1 / 1 / 2 / 2;
      grid-column: 1;
      mix-blend-mode: screen;
      z-index: 2;
    }

    .image-hero-model {
      background-image: url('../images/2020-model.png');
      background-position: 41vw bottom;
      grid-area: 1 / 2 / 2 / 3;
      grid-column: 1 / span 2;
    }

    @include media-breakpoint-down(md) {
      .image-2020 {
        background-size: auto;
        height: 50%;
        margin-bottom: 50%;
        margin-top: 50%;
      }
    }

    // TABLETS AND UP
    @include media-breakpoint-up(md) {
      height: 70vh;

      .image-2020 {
        background-image: url('../images/2020@3x.png');
        background-position: 72% !important;
        background-size: 45vh;
      }

      .image-hero-model {
        background-image: url('../images/2020-model@2x.png');
        background-position: 70% bottom !important;
        background-size: contain;
      }
    }

    @include media-breakpoint-up(sm) {
      .image-2020 {
        background-position: 3em center;
      }

      .image-hero-model {
        background-position: right bottom;
      }
    }

    @include media-breakpoint-down(sm) {
      .image-2020 {
        background-position: 9px center;
      }
    }
  }
}

// Mandated patch for smaller (so-so) screens
@media screen and (max-width: 480px) {
  .main-container {
    .hero-row {
      .image-hero-model {
        background-position: 150% bottom !important;
      }
    }
  }
}
