// ------------------------------------------------------
// Adjustments for Mobile
// ------------------------------------------------------

// smartphone below
@include media-breakpoint-down(sm) {
  body {
    overflow-x: hidden;
  }

  .main-container {
    margin-bottom: 7vw;

    // hide all line breaks for mobile
    br {
      display: none;
    }

    .countdown-row {
      padding: $row-default-padding;

      .countdown-container {
        max-width: 95%;
      }
    }

    .world-class-row,
    .the-company-row {
      padding: 55px 0;
    }

    .the-company-row {
      padding-bottom: 0;
      transition: unset; // animation bug on scroll

      .image-col {
        background-position: center bottom;
        min-height: 46vh;
      }

      .the-company-logo {
        width: 100%;
      }
    }

    .guests-row {
      padding: 0 0 1.1em 0.4em !important;

      .guest-entry {
        max-width: 50%; // explicit set due to xs breakpoint was already removed for BS4

        .guest-info-container {
          width: 100% !important;
        }

        .guest-info-container .guest-image {
          min-height: 172px; // TODO: Not working yet
        }
      }
    }

    // THE FOUNTAIN
    .night-show-col {
      .night-show-logo {
        @include display-bg-image('the-fountain', right, contain, sm);
        // height: 53.48px;
        height: 6em;
      }

      .dazzling {
        font-size: 32px !important;
      }
    }

    .image {
      width: 100%;
    }

    // pre footer
    .featured-dj-below {
      & + .featured-dj-below {
        margin-top: 185px;
      }
    }
  }
}

// explicit set due to xs breakpoint was already removed for BS4
@media screen and (max-width: 320px) {
  .main-container {
    .countdown-row {
      .countdown-container {
        max-width: unset;
      }

      br {
        display: none;
      }
    }

    .the-company-row {
      .image-col {
        background-position: center bottom;
        background-size: auto;
        min-height: 65vh;
      }
    }

    .guests-row {
      padding: 1em !important;

      .guest-entry {
        min-width: 100%;

        .guest-info-container {
          width: 100% !important;
        }

        .guest-info-container .guest-image {
          min-height: 320px;
        }
      }
    }
  }
}
