// palette
$color-okada-light-1: #fdd283;
$color-okada-light-2: #ffd486;
$color-okada-light-3: #f8d76d;
$color-okada-light-4: #f9d86d;

$color-okada-normal-1: #e2b058;
$color-okada-normal-2: #d79e40;
$color-okada-normal-3: #cd8734;
$color-okada-normal-4: #d3943b;
$color-okada-normal-5: #cf8c37;
$color-okada-normal-6: #d59a3e;
$color-okada-normal-7: #d69b3f;

$color-okada-dark-1: #cd8634;
$color-okada-dark-2: #b67c30;

// others
$navbar-primary-color: #f8d76d;
$hero-section-right-color: #ce8735;
$countdown-color: $color-okada-dark-1;
$hero-heading-color: $color-okada-dark-1;
$hero-caption-color: #828282;
