// Import bootstrap (some)
// @import 'vendors/bootstrap4/bootstrap';
@import 'vendors/bootstrap4/functions';
@import 'vendors/bootstrap4/variables';
@import 'vendors/bootstrap4/mixins';
@import 'vendors/bootstrap4/root';
@import 'vendors/bootstrap4/reboot';
// Import sass-mediaqueries
// for advanced media query
@import 'vendors/sass-mediaqueries/media-queries';
// Import some
@import 'variables';
@import 'utils/mixins';
@import 'utils/google-font';
@import 'base/colors';
@import 'base/typography';

.cls-1 {
  fill: $white;
  font-family: $font-family-montserrat;
  font-size: 19px;
  font-weight: 700;
}

.cls-2 {
  letter-spacing: -0.02em;
}

.cls-3 {
  letter-spacing: -0.01em;
}

.cls-4 {
  letter-spacing: -0.03em;
}

.cls-5 {
  letter-spacing: -0.02em;
}

.cls-6 {
  letter-spacing: -0.04em;
}

.cls-7 {
  letter-spacing: -0.01em;
}

.cls-8 {
  letter-spacing: -0.03em;
}

.cls-9 {
  letter-spacing: -0.02em;
}

.cls-10,
.cls-11,
.cls-22 {
  fill: none;
  stroke-miterlimit: 10;
}

.cls-10 {
  stroke-width: 1.98px;
  stroke: url(#Golden_Gradient);
}

.cls-11,
.cls-22 {
  stroke-width: 1.9px;
}

.cls-11 {
  stroke: url(#Golden_Gradient-2);
}

.cls-12 {
  font-size: 81.84px;
  fill: $color-okada-dark-1;
  font-family: $font-family-montserrat;
}

.cls-13 {
  letter-spacing: -0.04em;
}

.cls-14 {
  letter-spacing: -0.02em;
}

.cls-15 {
  letter-spacing: -0.02em;
}

.cls-16 {
  letter-spacing: 0em;
}

.cls-17 {
  font-family: $font-family-roboto-bold-italic;
  font-size: 22.88px;
  font-style: italic;
  font-weight: 700;
}

.cls-18 {
  letter-spacing: -0.01em;
}

.cls-19 {
  letter-spacing: -0.03em;
}

.cls-20 {
  letter-spacing: 0.01em;
}

.cls-21 {
  fill: url(#Golden_Gradient-3);
}

.cls-22 {
  stroke: url(#Golden_Gradient-15);
}
