// reusable
$default-padding-px: 19px;

// navbar
$navbar-default-height: 59px;
$navbar-md-height: 70px;

// md grid
$hero-row-height-default: 416px;
$hero-row-height: 62vh;

// padding & margins
$row-default-padding: 2em 0;

// grid-related
$guest-container-min-height: 234px;
$guest-container-min-height-md: 427px;

// the fountain
$the-fountain-md-height: 363px;
