{
  "parserOptions": {
    "ecmaVersion": 5,
    "sourceType": "script",
    "ecmaFeatures": {}
  },
  "rules": {
    "space-in-parens": [2, "never", { "exceptions": ["empty", "()"] }]
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "jquery": true
  },
  "globals": {
    "jquery": true,
    "moment": true
  },
  "extends": ["jquery"]
}
