// Safari compatibilty patches
@media screen and (min-color-index: 0) and(-webkit-min-device-pixel-ratio: 0) {
  .main-container {
    .wow {
      &.number-of,
      &.cove-manila-logo-caption,
      &.zoomIn {
        @include disable-animations;
      }
    }

    .cove-manila-row .cove-manila-logo-caption {
      display: inline !important;
      font-family: $font-family-montserrat !important;
    }
  }

  @include media-breakpoint-up(xl) {
    margin-bottom: 0;

    .cove-manila-row-2-sub-2 {
      .featured-dj-below {
        position: relative;
        top: 8em !important;
      }
    }
  }
}
