@import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,700|Playfair+Display|Roboto:300,400,700|Montserrat:300,400,500");
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff; }

[tabindex="-1"]:focus {
  outline: 0 !important; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none; }

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0; }

dt {
  font-weight: 700; }

dd {
  margin-bottom: .5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

b,
strong {
  font-weight: bolder; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent; }
  a:hover {
    color: #0056b3;
    text-decoration: underline; }

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none; }
  a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
    color: inherit;
    text-decoration: none; }
  a:not([href]):not([tabindex]):focus {
    outline: 0; }

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em; }

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto; }

figure {
  margin: 0 0 1rem; }

img {
  vertical-align: middle;
  border-style: none; }

svg {
  overflow: hidden;
  vertical-align: middle; }

table {
  border-collapse: collapse; }

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom; }

th {
  text-align: inherit; }

label {
  display: inline-block;
  margin-bottom: 0.5rem; }

button {
  border-radius: 0; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

select {
  word-wrap: normal; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none; }

input[type="radio"],
input[type="checkbox"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; }

textarea {
  overflow: auto;
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal; }

progress {
  vertical-align: baseline; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }

output {
  display: inline-block; }

summary {
  display: list-item;
  cursor: pointer; }

template {
  display: none; }

[hidden] {
  display: none !important; }

@font-face {
  font-display: swap;
  font-family: "Gotham Book";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/GothamBook.eot#iefix") format("embedded-opentype");
  src: url("../fonts/GothamBook.ttf") format("truetype"); }

@font-face {
  font-display: swap;
  font-family: "Gotham Light";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/GothamLight.eot#iefix") format("embedded-opentype");
  src: url("../fonts/GothamLight.ttf") format("truetype"); }

@font-face {
  font-display: swap;
  font-family: "Gotham Medium";
  font-style: normal;
  font-weight: inherit;
  src: url("../fonts/GothamMedium.eot#iefix") format("embedded-opentype");
  src: url("../fonts/GothamMedium.ttf") format("truetype"); }

@font-face {
  font-display: swap;
  font-family: "Gotham Bold";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/GothamBold.eot#iefix") format("embedded-opentype");
  src: url("../fonts/GothamBold.ttf") format("truetype"); }

@font-face {
  font-display: swap;
  font-family: "Gotham Bold Italic";
  font-style: italic;
  font-weight: bold;
  src: url("../fonts/GothamBoldItalic.eot#iefix") format("embedded-opentype");
  src: url("../fonts/GothamBoldItalic.ttf") format("truetype"); }

@font-face {
  font-display: swap;
  font-family: "Gotham Black";
  font-style: normal;
  font-weight: bolder;
  src: url("../fonts/GothamBlack.eot#iefix") format("embedded-opentype");
  src: url("../fonts/GothamBlack.ttf") format("truetype"); }

html,
body {
  font-family: "Open Sans", sans-serif;
  font-weight: normal; }

.okada-hero {
  margin-top: 34px;
  text-align: center; }

.okada-hero-heading {
  color: #cd8634;
  font-family: "Gotham Medium", "Montserrat", "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: bold; }

.container-caption,
.okada-hero-caption {
  color: #828282;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500; }

@media (min-width: 768px) {
  .okada-hero-heading {
    font-size: 2.5rem; }
  .container-caption,
  .okada-hero-caption {
    font-size: 1.1rem; } }

a:hover, a:active, a:focus {
  outline: none;
  text-decoration: none; }

.cls-1 {
  fill: #fff; }

.dj-solaii-details-text,
.dj-kaka-details-text {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 300; }

.dj-solaii-details-text {
  font-size: 24px; }

.dj-kaka-details-text {
  font-size: 23px; }

.dj-solaii-layer .visit-channel-button {
  height: 80px; }
  .dj-solaii-layer .visit-channel-button .visit-channel-text {
    -webkit-text-fill-color: transparent;
    background: linear-gradient(39deg, #b67c30 0%, #cd8634 17%, #cd8734 38%, #d08e38 45%, #d59a3e 52%, #d79e40 53%, #ffd486 71%, #e2b058 100%);
    -webkit-background-clip: text;
            background-clip: text;
    display: inline;
    font-family: "Roboto Bold Italic", sans-serif !important;
    font-size: 28px;
    font-style: italic;
    font-weight: bold;
    margin: 0;
    position: relative;
    top: 25px; }

.dj-kaka-layer .cls-2 {
  letter-spacing: -0.02em; }

.dj-kaka-layer .cls-10,
.dj-kaka-layer .cls-11,
.dj-kaka-layer .cls-22 {
  fill: none;
  stroke-miterlimit: 10; }

.dj-kaka-layer .cls-10 {
  stroke-width: 1.98px;
  stroke: url(#Golden_Gradient); }

.dj-kaka-layer .cls-11,
.dj-kaka-layer .cls-22 {
  stroke-width: 1.9px; }

.dj-kaka-layer .cls-11 {
  stroke: url(#Golden_Gradient-2); }

.dj-kaka-layer .cls-12 {
  font-size: 81.84px;
  fill: #cd8634;
  font-family: "Gotham Black", "Arial Black", "Montserrat", sans-serif; }

.dj-kaka-layer .cls-13 {
  letter-spacing: -0.04em; }

.dj-kaka-layer .cls-14 {
  letter-spacing: -0.02em; }

.dj-kaka-layer .cls-15 {
  letter-spacing: -0.02em; }

.dj-kaka-layer .cls-16 {
  letter-spacing: 0em; }

.dj-kaka-layer .cls-17 {
  font-family: "Roboto Bold Italic", sans-serif !important;
  font-size: 22.88px;
  font-style: italic;
  font-weight: 700; }

.dj-kaka-layer .cls-18 {
  letter-spacing: -0.01em; }

.dj-kaka-layer .cls-19 {
  letter-spacing: -0.03em; }

.dj-kaka-layer .cls-20 {
  letter-spacing: 0.01em; }

.dj-kaka-layer .cls-21 {
  fill: url(#Golden_Gradient-3); }

.dj-kaka-layer .cls-22 {
  stroke: url(#Golden_Gradient-15); }

.dj-kaka-layer .dj-kaka-details p {
  color: #fff; }

.dj-kaka-layer .visit-channel-button {
  height: 4.8em; }
  .dj-kaka-layer .visit-channel-button .visit-channel-text {
    -webkit-text-fill-color: transparent;
    background: linear-gradient(39deg, #b67c30 0%, #cd8634 17%, #cd8734 38%, #d08e38 45%, #d59a3e 52%, #d79e40 53%, #ffd486 71%, #e2b058 100%);
    -webkit-background-clip: text;
            background-clip: text;
    display: inline;
    font-family: "Roboto Bold Italic", sans-serif !important;
    font-size: 28px;
    font-style: italic;
    font-weight: bold;
    margin: 0;
    position: relative;
    top: 22px; }

.dj-solaii-layer .visit-channel-button,
.dj-kaka-layer .visit-channel-button {
  border-radius: 0;
  border-top: 0 !important;
  display: block;
  text-align: center; }
  .dj-solaii-layer .visit-channel-button:hover, .dj-solaii-layer .visit-channel-button:active,
  .dj-kaka-layer .visit-channel-button:hover,
  .dj-kaka-layer .visit-channel-button:active {
    background: linear-gradient(39deg, #b67c30 0%, #cd8634 17%, #cd8734 38%, #d08e38 45%, #d59a3e 52%, #d79e40 53%, #ffd486 71%, #e2b058 100%);
    -webkit-box-shadow: unset;
            box-shadow: unset;
    text-decoration: none; }
    .dj-solaii-layer .visit-channel-button:hover .visit-channel-text, .dj-solaii-layer .visit-channel-button:active .visit-channel-text,
    .dj-kaka-layer .visit-channel-button:hover .visit-channel-text,
    .dj-kaka-layer .visit-channel-button:active .visit-channel-text {
      -webkit-text-fill-color: unset;
      background: unset;
      background-clip: unset;
      color: #000; }

@media screen and (min-color-index: 0) and (-webkit-min-device-pixel-ratio: 0) {
  .cls-2a {
    height: 80px !important; }
  .dj-solaii-layer .visit-channel-button,
  .dj-kaka-layer .visit-channel-button {
    border-radius: 0;
    border-top: 0 !important;
    color: #cd8634;
    display: block;
    text-align: center; }
    .dj-solaii-layer .visit-channel-button:hover, .dj-solaii-layer .visit-channel-button:active,
    .dj-kaka-layer .visit-channel-button:hover,
    .dj-kaka-layer .visit-channel-button:active {
      -webkit-tap-highlight-color: transparent;
      color: #000; }
    .dj-solaii-layer .visit-channel-button .visit-channel-text,
    .dj-kaka-layer .visit-channel-button .visit-channel-text {
      -webkit-text-fill-color: unset;
      background: unset;
      background-clip: unset;
      display: inline-block !important;
      margin-top: 23px !important;
      position: unset !important; }
  .dj-solaii-layer .visit-channel-button .visit-channel-text {
    margin-top: 24px !important; } }

@media (min-width: 1200px) {
  .dj-kaka-layer .visit-channel-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 104px; } }

/*# sourceMappingURL=svg.css.map */
