.navbar {
  min-height: $navbar-default-height;
  z-index: 9999;

  &.okada * {
    color: $navbar-primary-color !important;

    &.nav-link {
      color: $okada-logo-color !important;
    }
  }

  &.okada .navbar-toggler-icon {
    background: $navbar-okada-icon-bg !important;
  }

  // &.navbar-trans {
  //   background: transparent;
  //   transition: 0.1s ease;
  // }

  &.justify-content-center {
    .navbar-brand {
      position: absolute;
      top: 10px;
      // transform: translateX(-50%);

      &.collapsed {
        position: fixed;
      }
    }
  }

  .navbar-toggler {
    border: 0;
    position: absolute;

    &,
    &:active,
    &:focus,
    &:hover {
      outline: none !important;
    }

    &.collapsed {
      position: fixed;

      .navbar-toggler-icon {
        display: none;
      }

      .close,
      .closebtn {
        display: block;
      }
    }

    .closebtn {
      color: $color-okada-light-3;
      display: none;
      font-family: $font-family-open-sans;
      font-size: 25px;

      &:hover,
      &:focus,
      &:active {
        outline: none !important;
        text-decoration: unset;
      }
    }
  }

  .navbar-toggler-right {
    right: 10px;
    top: 10px;
  }

  &.collapse {
    .navbar-nav {
      align-items: flex-end;
      display: flex;
      justify-content: space-between;
      width: 100%;

      &,
      &.mx-auto,
      &.ml-auto,
      &.mr-auto {
        font-size: 0.8em;
        position: relative;
        text-transform: uppercase;
        top: 4rem; // top: -0.5rem;
      }
    }
  }

  &.collapse.show {
    .navbar-nav {
      align-items: unset;
      display: inherit;
      justify-content: unset;
      width: unset;

      &,
      &.mx-auto,
      &.ml-auto,
      &.mr-auto {
        font-size: 0.8em;
        position: normal;
        // text-transform: uppercase;
        top: unset;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .navbar {
    min-height: $navbar-md-height;
    position: relative;
    top: 0;
    width: 100%;

    .navbar-toggler-right {
      right: 3em;
      // top: 40%;
      top: 1.5em;
    }

    .navbar-brand {
      img {
        width: 100px;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .navbar {
    .navbar-brand {
      img {
        width: 52.47px;
      }
    }
  }
}
