.swiper-container {
  display: flex;
  height: 100%;
  width: 100%;

  .swiper-slide {
    align-items: center;
    display: flex;
    font-size: 18px;
    justify-content: center;
    text-align: center;
  }

  .swiper-image {
    width: 100%;
  }

  .swiper-pagination {
    .swiper-pagination-bullet {
      background: $white;
      opacity: 1;
    }

    .swiper-pagination-bullet-active {
      background: $color-okada-dark-1;
    }
  }
}
