@import 'responsive/mobile';
@import 'responsive/tablets';

// CONTAINER WRAP
.container-wrapper {
  background: $black;
  margin: 0 auto;
  max-width: 1920px;
}

// BASE GRID FOR MAIN CONTAINER
.main-container {
  // base margin
  margin-bottom: 1em;
  margin-top: -4em;

  .hero-row {
    height: $hero-row-height;
    min-height: $hero-row-height-default;
  }

  .guests-row {
    flex-wrap: wrap;
    padding: 1.1875rem;
  }

  // Enable transitions for every column movement
  // https://stackoverflow.com/a/42980961
  .row > [class*='col-'] {
    transition: 0.5s ease;
  }
}

@include screen(768px, 1400px, landscape) {
  .main-container {
    margin-bottom: 35em;
  }
}

@include min-screen-cust(1920px, landscape) {
  .main-container {
    .okada-hero-heading {
      font-size: 3rem;
    }

    .container-caption,
    .okada-hero-caption {
      font-size: 1.67rem;
    }
  }
}
