.main-container {
  .the-company-row {
    @include media-breakpoint-up(xl) {
      min-height: 41vw;
    }

    .heading-col {
      align-self: center;
    }

    .image-col {
      background-image: url('../images/the-company-group.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .the-company-logo {
      width: 100%;
    }
  }

  // GUEST LIST
  .guests-row {
    background: $hero-gray-bg-color-2;
    flex-wrap: wrap;
    padding: 1em 1.1875rem 1.1875rem !important;

    // tentative patch for larger screens
    .col-12 .row {
      margin: 0 auto;
      max-width: $viewport-default-width;
    }

    .guest-entry {
      // margin-top: 19px;
      min-width: 181.35px;
      padding: 0;

      // .guest-info-container {
      //   min-height: $guest-container-min-height;
      // }
    }

    .guest-info-container {
      min-height: $guest-container-min-height;

      .guest-image {
        min-height: 172px;

        &.bugoy-drilon {
          @include display-bg-image('bugoy-drilon', center top, cover, sm);
        }

        &.daryl-ong {
          @include display-bg-image('daryl-ong', center top, cover, sm);
        }

        &.michael-pangilinan {
          @include display-bg-image('michael-pangilinan', center top, cover, sm);
        }

        &.liezel-garcia {
          @include display-bg-image('liezel-garcia', center top, cover, sm);
        }

        &.jason-dy {
          @include display-bg-image('jason-dy', center top, cover, sm);
        }

        &.erik-santos {
          @include display-bg-image('erik-santos', center top, cover, sm);
        }

        // &.mayonnaise {
        //   @include display-bg-image('mayonnaise', center bottom, 340px);
        // }

        // &.udd {
        //   @include display-bg-image('udd', center right);
        // }

        // &.the-ransom-collective {
        //   @include display-bg-image('trc');
        // }
      }

      .guest-info {
        background: $guest-name-info-bg;
        padding: 12px;
      }

      .guest-info .guest-name {
        color: $color-okada-dark-1;
        font-family: $font-family-open-sans;
        font-size: 18px; // Moved to mobile
        font-weight: bolder;
      }

      .guest-info .guest-name-info {
        color: $caption-color;
        font-family: $font-family-gotham-medium;
        font-size: 10px;
        margin-bottom: 0;
      }
    }

    @include media-breakpoint-up(md) {
      & > .col-12 {
        height: 100%;

        & > .row {
          // align-content: space-around;
          flex-wrap: wrap;
          height: calc(100% + 5em);
          justify-content: space-around;
          padding: 4em 2rem 3em;
        }
      }

      .guest-entry {
        display: flex;
        justify-content: center;
        // margin-top: 3em;
        margin-top: unset;

        .guest-info-container {
          margin: 1em 0;
          min-height: 320px;
          width: calc(100% - 2rem);

          .guest-info {
            display: flex;
            flex-direction: column;
            height: 120px;
            justify-content: center;
            padding: 0 20px;
          }

          .guest-info .guest-name {
            font-size: 24px;
            margin-bottom: 10px;
          }

          .guest-info .guest-name-info {
            font-size: 13px;
          }

          .guest-image {
            height: calc(320px + 5.5vw);
            min-height: 320px;
            width: 100%;
          }
        }
      }
    }

    @include media-breakpoint-up(xl) {
      // & > .col-12 > .row {
      //   // align-content: space-around;
      //   flex-wrap: wrap;
      //   height: calc(100% + 5em);
      //   justify-content: space-around;
      //   padding: 4em 2rem 6em;
      // }

      .guest-entry {
        // display: flex;
        // justify-content: center;
        // margin-top: unset;

        .guest-info-container {
          // height: calc(320px + 16vw);
          // min-height: 320px;
          // width: calc(100% - 2rem);

          .guest-image {
            height: calc(320px + 5vw);
            min-height: 320px;
            width: 100%;
          }
        }
      }
    }
  }
}
