html {
  background: $white;
}

// Other cosmetic changes here
.main-container {
  & > .countdown-row,
  & > .the-restaurants-row {
    background: $white;
  }

  .world-class-row,
  .the-company-row {
    background: $hero-gray-bg-color-1;
  }

  .world-class-row {
    .image-col {
      @include display-bg-image('world-class', center, contain);
      min-height: 13.18625rem;
    }
  }

  // .the-company-row {
  //   .image-col {
  //     background-image: url('../images/the-company-group.png');
  //     background-position: center;
  //     background-repeat: no-repeat;
  //     background-size: contain;
  //     // min-height: 73px;
  //   }

  //   .the-company-logo {
  //     width: 100%;
  //   }
  // }

  // THE FOUNTAIN
  .night-show-row {
    @include display-bg-image('X5X8Aj', 18% center, cover, md);
    max-height: calc(#{$the-fountain-md-height} + 2em);
    min-height: calc(#{$the-fountain-md-height} + 2em);
    padding: 19px;

    .night-show-col {
      @include night-show-container('night-show-logo', 'night-show-details');
      border: 1px $color-okada-light-1 solid;
      // calculation of second argument: (19px x 2 = 28px + 12 = 40px)
      // max-height: calc(#{$the-fountain-md-height} - 40px);
    }

    @include media-breakpoint-down(xl) {
      max-height: 100vh;
    }

    @include media-breakpoint-down(md) {
      max-height: unset;
    }

    @include media-breakpoint-down(sm) {
      // set back to default
      max-height: $the-fountain-md-height;

      .night-show-col {
        max-height: calc(#{$the-fountain-md-height} - 0.4em);
      }
    }

    // GUEST LIST FOR TABLETS & UP
    @include media-breakpoint-up(md) {
      height: 54vw;
      padding: 1.2em;

      .night-show-col .night-show-logo {
        background-size: contain;
        height: 30%;
      }

      .night-show-col .night-show-details {
        align-content: flex-end;
        align-items: flex-end;
        bottom: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap-reverse;
        position: absolute;

        .btn {
          width: max-content;
        }
      }
    }
  }

  // THE FOUNTAIN
  .night-show-col {
    padding: 1em !important;

    .night-show-logo {
      @include display-bg-image('the-fountain', right, contain, md);
      height: 53.48px;
    }

    .dazzling {
      -webkit-text-fill-color: transparent;
      background: $dazzling-mask-color;
      background-clip: text;
      font-family: $font-family-playfair-display-regular;
      font-size: 23px;
    }

    .dazzling-details {
      color: $white;
      font-family: $font-family-montserrat;
      font-size: 14px;
      font-weight: 300;
    }

    // .btn-dazzling {
    //   font-family: $font-family-gotham-black;
    //   font-size: 11px;
    //   background-color: transparent;
    //   border-color: $color-okada-light-1;
    //   border-radius: 0.6625rem;
    //   padding-left: 2em;
    //   padding-right: 2em;
    // }
  }
}

@include media-breakpoint-up(xl) {
  .main-container {
    .the-company-row {
      .image-col {
        background-image: url('../images/the-company-group@3x.png') !important;
        // background-position: right;
        // min-height: 636px;
      }
    }

    // THE FOUNTAIN
    .night-show-col {
      // padding: 4em !important;

      .night-show-logo {
        @include display-bg-image('the-fountain', right, contain);
        height: 53.48px;
      }

      .dazzling {
        font-size: 60px !important;
        max-width: 750px !important;
      }

      .dazzling-details {
        // color: $white;
        // font-family: 'Gotham Book';
        font-size: 14px;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .main-container {
    .the-company-row {
      .image-col {
        background-image: url('../images/the-company-group@2x.png');
        background-position: right bottom;
        // background-repeat: no-repeat;
        // background-size: contain;
        min-height: 636px;
      }
    }

    .guests-row {
      .guest-info-container .guest-image {
        background-size: cover !important;
        height: calc(172px + 8vw);
      }

      .guest-info-container .guest-image.mayonnaise {
        // The image was not on portrait
        @include display-bg-image('mayonnaise', center bottom);
        background-size: 215% !important;
      }
    }

    // THE FOUNTAIN
    .night-show-col {
      padding: 2em !important;

      .night-show-logo {
        @include display-bg-image('the-fountain', right, contain);
        height: 53.48px;
      }

      .dazzling {
        // -webkit-text-fill-color: transparent;
        // background: $dazzling-mask-color;
        // background-clip: text;
        // font-family: 'Playfair Display';
        font-size: 40px;
        max-width: 540px;
      }

      .dazzling-details {
        // color: $white;
        // font-family: 'Gotham Book';
        font-size: 24px;
      }
    }
  }
}
