// ROOT
a {
  &:hover,
  &:active,
  &:focus {
    outline: none;
    text-decoration: none;
  }
}

.cls-1 {
  fill: $white;
}

.dj-solaii-details-text,
.dj-kaka-details-text {
  color: $white;
  font-family: $font-family-open-sans;
  font-weight: 300;
}

.dj-solaii-details-text {
  font-size: 24px;
}

.dj-kaka-details-text {
  font-size: 23px;
}

// DJ SOLAII
.dj-solaii-layer {
  .visit-channel-button {
    // border-radius: 0;
    // border-top: 0 !important;
    // display: block;
    height: 5.63rem;
    // text-align: center;

    .visit-channel-text {
      @include dazzling-text;
      display: inline;
      font-family: $font-family-roboto-bold-italic;
      font-size: 28px;
      font-style: italic;
      font-weight: bold;
      margin: 0;
      position: relative;
      top: 26px;
      // transform: translate(0, 20px);
    }
  }
}

// DJ KAKA
.dj-kaka-layer {
  .cls-2 {
    letter-spacing: -0.02em;
  }

  // .cls-3 {
  //   letter-spacing: -0.01em;
  // }

  // .cls-4 {
  //   letter-spacing: -0.03em;
  // }

  // .cls-5 {
  //   letter-spacing: -0.02em;
  // }

  // .cls-6 {
  //   letter-spacing: -0.04em;
  // }

  // .cls-7 {
  //   letter-spacing: -0.01em;
  // }

  // .cls-8 {
  //   letter-spacing: -0.03em;
  // }

  // .cls-9 {
  //   letter-spacing: -0.02em;
  // }

  .cls-10,
  .cls-11,
  .cls-22 {
    fill: none;
    stroke-miterlimit: 10;
  }

  .cls-10 {
    stroke-width: 1.98px;
    stroke: url(#Golden_Gradient);
  }

  .cls-11,
  .cls-22 {
    stroke-width: 1.9px;
  }

  .cls-11 {
    stroke: url(#Golden_Gradient-2);
  }

  .cls-12 {
    font-size: 81.84px;
    fill: $color-okada-dark-1;
    font-family: $font-family-gotham-black;
  }

  .cls-13 {
    letter-spacing: -0.04em;
  }

  .cls-14 {
    letter-spacing: -0.02em;
  }

  .cls-15 {
    letter-spacing: -0.02em;
  }

  .cls-16 {
    letter-spacing: 0em;
  }

  .cls-17 {
    font-family: $font-family-roboto-bold-italic;
    font-size: 22.88px;
    font-style: italic;
    font-weight: 700;
  }

  .cls-18 {
    letter-spacing: -0.01em;
  }

  .cls-19 {
    letter-spacing: -0.03em;
  }

  .cls-20 {
    letter-spacing: 0.01em;
  }

  .cls-21 {
    fill: url(#Golden_Gradient-3);
  }

  .cls-22 {
    stroke: url(#Golden_Gradient-15);
  }

  // .dj-kaka-button-container {}

  .dj-kaka-details p {
    color: $white;
  }

  .visit-channel-button {
    // border-radius: 0;
    // border-top: 0 !important;
    // display: block;
    height: 4.8em;
    // text-align: center;

    .visit-channel-text {
      @include dazzling-text;
      display: inline;
      font-family: $font-family-roboto-bold-italic;
      font-size: 28px;
      font-style: italic;
      font-weight: bold;
      margin: 0;
      position: relative;
      top: 22px;
      // transform: translate(0, 20px);
    }
  }
}

// OVERRIDES
.dj-solaii-layer,
.dj-kaka-layer {
  .visit-channel-button {
    border-radius: 0;
    border-top: 0 !important;
    display: block;
    text-align: center;

    &:hover,
    &:active {
      @include dazzling-background;

      .visit-channel-text {
        @include dazzling-text-disable;
        color: $black;
      }
    }
  }
}

// Safari compatibilty patches
@media screen and (min-color-index: 0) and(-webkit-min-device-pixel-ratio: 0) {
  .cls-2a {
    height: 89px !important;
  }

  .dj-solaii-layer,
  .dj-kaka-layer {
    .visit-channel-button {
      border-radius: 0;
      border-top: 0 !important;
      color: $color-okada-dark-1;
      display: block;
      text-align: center;

      &:hover,
      &:active {
        color: $black;
      }

      .visit-channel-text {
        @include dazzling-text-disable;
        display: inline-block !important;
        margin-top: 24px !important;
        position: unset !important;
      }
    }
  }

  .dj-solaii-layer {
    .visit-channel-button {
      .visit-channel-text {
        margin-top: 25.5px !important;
      }
    }
  }
}
